* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}
button {
  font-size: 2rem;
  margin-top: 2rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: blue;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 1rem;

}
h1 {
  margin-top: 2rem;
  text-align: center;
}
.first,
.second {
  border: 1px solid #000;
  padding: 4rem;
  margin: 3rem 3rem 0 3rem;
  width: 50%;
}

.first div,
.second div,
input,
#name {
  margin-top: 2rem;
}

input {
  padding: 1rem;
  outline: none;
  font-size: 2rem;
}
.top_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gpa,
.gpa2,
.cgpa,
#name {
  text-align: center;
}

#gpa_block,
#gpa_block2 {
  display: none;
  text-align: center;
  margin-top: 3rem;
  background-color: green;
  color: white;
  padding: 1rem;
}

.gpa,
.gpa2 {
  display: inline;
}

#bottom_block {
  margin: 0 0 3rem 3rem;
}

@media screen and (max-width: 767px) {
  body,
  button {
    font-size: 3rem;
  }

  #bottom_block {
    margin: 3rem 0;
  }
  input {
    font-size: 2rem;
  }
  .top_block {
    flex-direction: column;
  }
  .first,
  .second {
    width: 90%;
  }
  #bottom_block {
    text-align: center;
  }
  .gpa,
  .gpa2 {
    line-height: 1.5;
  }
  .cgpa {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 332px) {
  .first,
  .second {
    width: 95%;
  }
}
